
.canvas-container {
  position: relative;
  transform: scale(-1);

  &.grayscale {
    &:before {
      filter: grayscale(1);
    }
  }
  canvas {
  }
  .canvas-overlay {
    position: absolute;
    inset: 0;
  }
  &:before {
    content:"";
    position: absolute;
    inset: 0;
    background-image: url("../map.png");
    background-position: 30px -5px;
    background-size: contain;
    z-index: -1;
  }
}